#######################
# Chain configuration #
#######################

# ID of the chain you're going to create
CHAIN_ID=31337

# Whether it'll be an Anytrust chain
IS_ANYTRUST=false

# ArbOS version to use
ARBOS_VERSION=51

# Chain owner
CHAIN_OWNER=0x3f1Eae7D46d88F08fc2F8ed27FCb2AB183EB2d0E

############################
# Predeploys configuration #
############################

# Include default predeploys in the genesis file
LOAD_DEFAULT_PREDEPLOYS=true

# Additional alloc entries to include (should be a json file)
CUSTOM_ALLOC_ACCOUNT_FILE=""

############################
# ArbOS Init configuration #
############################

# Initial L1 base fee
# (you should set this to your estimate of the parent chain's gas price)
L1_BASE_FEE=1000000000  # 1 gwei

# Whether to enable native token supply management in ArbOS
ENABLE_NATIVE_TOKEN_SUPPLY=false

# Whether to enable transaction filtering
ENABLE_TRANSACTION_FILTERING=false

# Nitro node image
NITRO_NODE_IMAGE=offchainlabs/nitro-node:v3.9.5-66e42c4