services:
  genesis-file-generator:
    build: .
    container_name: genesis-file-generator
    env_file: .env
    volumes:
      - genesis:/app/genesis

  genesis-hash-calculator:
    depends_on:
      genesis-file-generator:
        condition: service_completed_successfully
    image: "${NITRO_NODE_IMAGE}"
    container_name: genesis-hash-calculator
    entrypoint: ["genesis-generator"]
    volumes:
      - genesis:/data/genesisDir
    command:
      - --genesis-json-file=/data/genesisDir/genesis.json
      - --initial-l1-base-fee=${L1_BASE_FEE}

volumes:
  genesis: